* {
  margin: 0;
  padding: 0;
  /*   box-sizing: border-box;
  border: 1px solid red; */
}
body {
  font-family: sans-serif;
}

header {
  background-color: #6495ed;
  color: white;
  height: 7rem;

  display: flex;
  flex-direction: column;
  align-items: center; /* centra elemento en horizontal */
  justify-content: center; /*centra elemento en vertical */
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section {
  margin: 2rem 4rem;
}

h2 {
  color: #6495ed;
  margin-bottom: 1rem;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

li {
  margin: 1rem;
}

.importante {
  font-weight: bold;
  text-decoration: underline;
}

thead {
  background-color: #6495ed;
  color: white;
  height: 3rem;
  width: 6rem;
}

.par {
  background-color: #aac6fa;
}
.impar {
  background-color: #d7e5ff;
}

th {
  width: 4rem;
  height: 2rem;
  background-color: rgba(100, 149, 237, 0.5);
}

td {
  width: 10rem;
  margin: 10rem;
  padding: 1rem;
}

#descanso {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
